h1 Timestamp api

p Give it a date in unix or natural form. The api returns json with the date in both unix and natural form.

p Try it out:

ul
  li <a href='/1'>First second of the unix epoch</a>
  li <a href='/October%2011%202014'>Second best date ever</a>

p Check out the code on <a href='https://github.com/CatherineBacon/fcc-time-stamp-api'>github</a>.


p Written and coded by <a href='http://catherinecollinson.com'>Catherine Bacon</a>
